/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;400;500&display=swap');

@import url("components/header.css");
@import url("components/form.css");
@import url("flats/index.css");
@import url("flats/new.css");
@import url("flats/show.css");

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #181a1b;
  font-family: 'Roboto', sans-serif;
  color: lightgray;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-bottom: 25px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width:  1000px;
  margin: 0 auto;
}

.btn {
  border: 1px solid rgba(211, 211, 211, 0.5);
  padding: 7px 15px;
  border-radius: 5px;
  display: inline-block;
  transform: scale(1);
  cursor: pointer;
  font-weight: 500 !important;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #ff5a5f;
  color: #181a1b;
  border: 1px solid rgba(211, 211, 211, 0);
}
